@use "colors";
@use "theming";

@font-face {
  font-family: Outfit;
  src: url('../font/Outfit-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: Open-Sans;
  src: url('../font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
}

#root {
  display: flex;
  align-items: center;
  flex-direction: column;

  .page {
    &.standard {
      width: 95%;
      max-width: 1000px;
    }
  }
}
